@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #f3f4f6;
    font-family: "Lato", sans-serif;
}

.text-primary-p{
    color: #a5aaad;
    font-size: 14px;
    font-weight: 700;

}

.font-bold {
    font-weight: 700;
}

.text-title {
    color: #2e4a66;
}

.text-lightblue {
    color: #469cac;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    "sidebar nav nav nav"
    "sidebar main main main";
}

@media only screen and (max-width: 978px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
        "nav"
        "main";
    }
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    transform-style: preserve-3d;
    background-color: white;
    height: 150px;
    width: 150px;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card:hover {
    --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.6);
}
.card.flip {
    --rotate-y: 180deg;
}

.card .front {
    left: 0;
}


.card .front,
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(180deg);
} 